@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
}

/*Base*/
body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0px;
}

.section-title.centered {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*button*/
.button {
  width: 238px;
  height: 59px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/*link*/
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
}

/*header*/
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/*hero section*/
.hero-section {
  padding: 272px 0px;
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}
/*advantages section*/
.advantages-list {
  display: flex;
  color: var(--color-primary-light);
  justify-content: space-between;
  gap: 40px;
}

.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}

.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

/*traditions section*/

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.bakery-text {
  margin-bottom: 42px;
}

.traditions-text.limited {
  max-width: 330px;
}

.traditions-content {
  max-width: 710px;
}

/*chef-section*/
.section-title .accent {
  color: var(--color-brand-dark);
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: "";
}

.chefs-title {
  margin: 0 auto 80px;
  max-width: 550px;
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

/*formats-section*/

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.format-card {
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid lightgray; /*remove*/
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
}

.format-items {
  flex-basis: calc((100% - 40px) / 3);
  flex-shrink: 0;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}

.formats-title {
  margin-bottom: 80px;
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

/*carousel*/

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  padding: 0;
  fill: var(--color-primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/*contact-section*/
.contact-title {
  margin-bottom: 16px;
}

.form-text {
  margin-bottom: 42px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.contact-section {
  padding-bottom: 96px;
}

/*footer*/
.footer {
  padding: 32px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
  font-weight: 300;
  font-size: 16px;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-weight: 400;
  font-size: 14px;
}

.footer {
  background-image: url("../images/footer.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
